{% extends 'base.html.twig' %}

{% block title %}Nouvelle ville{% endblock %}

{% block body %}

    {{ include('_header.html.twig') }} 

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="text-center text-2xl/9 font-bold tracking-tight text-gray-900">Créer une ville</h2>
        </div> 
        {{ include('city/_form.html.twig') }}
        
        <a href="{{ path('app_city_index') }}">
            <button type="button" class="flex justify-center rounded-md bg-gray-300 px-3 py-1.5 text-sm/6 font-semibold text-gray-900 shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-300">Retour à la liste</button>
        </a>
    </div>
{% endblock %}
