<header class="fixed top-O w-full px-20 py-4 bg-red-500">
    <div class="flex justify-between items-center">
        <span class="text-2xl">Logo Sortir.com</span>
        <div class="flex justify-center items-center gap-4">
            <a href="{{ path('app_city_index') }}">Villes</a>
            <a href="{{ path('app_site_index') }}">Sites</a>
            <a href="">Accueil</a>
            <a href="">Mon Profil</a>
            <a href="">Se déconnecter</a>
        </div>
    </div>
</header>