<header class="fixed top-O w-full px-20 py-4 bg-red-500">
    <div class="flex justify-between items-center">
        <span class="text-2xl">Logo Sortir.com</span>
        <div class="flex justify-center items-center gap-4">
            <a href="{{ path('app_city_index') }}">Villes</a>
            <a href="{{ path('app_site_index') }}">Sites</a>
            <a href="">Accueil</a>
            <a href="">Mon Profil</a>
             {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </div>
    </div>
</header>